
*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a, img
{
    border: 0;
}
.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix
{
    display: inline-table;
}
/* Hides from IE-mac \*/
*html .clearfix
{
    height: 1%;
}
.clearfix
{
    display: block;
}
/* End hide from IE-mac */
* + html .clearfix
{
    min-height: 1%;
}
body
{
    font-family: "helvetica neue" ,arial,sans-serif;
    font-size: 12px;
    color: #444;
}
.demo
{
    width: 960px;
    margin: 0 auto;
}
.demo h1
{
    color: #3366cc;
    font-size: 16px;
    height: 35px;
    line-height: 1.9;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 10px 0;
}
#retop
{
    position: fixed;
    bottom: 10%;
    _position: absolute;
    width: 25px;
    height: 69px;
    background: url(../Images/topback.png) no-repeat;
    text-indent: -9em;
    overflow: hidden;
    display: none;
}
/**---------- 比较元素 ---------**/
/**** 转变 ****/
.transitions-enabled.masonry, .transitions-enabled.masonry .masonry-brick
{
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.transitions-enabled.masonry
{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.transitions-enabled.masonry .masonry-brick
{
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
/* 禁用容器上的转变 */
.transitions-enabled.infinite-scroll.masonry
{
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}
/* 无限滚动装载机 */
#infscr-loading
{
    text-align: center;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#infscr-loading
{
    position: fixed;
    bottom: 0px;
    left: 45%;
    z-index: 9999;
    width: 200px;
}
*html, *html body /* 修正IE6振动bug */
{
    background-image: url(about:blank);
    background-attachment: fixed;
}
*html #infscr-loading
{
    position: absolute;
    bottom: expression(eval(document.documentElement.scrollTop));
}
/* showpic */
.showpic .actions
{
    display: none;
}
.showpic:hover .actions
{
    display: block;
}
.showpic:hover img
{
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.showpic
{
    position: relative;
    float: left;
    margin: 5px;
    _margin: 5px 4px;
    border: solid 1px #ddd;
    width: 290px;
    font-size: 12px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.showpic .picbox
{
    padding: 15px 15px 0;
    text-align: center;
}
.showpic p
{
    line-height: 22px;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border-top: solid 1px #F5F2F2;
    background: #FAFAFA;
}
.showpic .actions
{
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 3;
    width: 100%;
}
.showpic .actions .lefter
{
    float: left;
    margin: 0 0 0 5px;
    display: inline;
}
.showpic .actions .righter
{
    float: right;
}
.showpic .actions .righter a
{
    margin: 0 5px 0 0;
}
/* button */
.button
{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.button.white
{
    background: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover
{
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}
.button.white:active
{
    background: #f4f4f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f8f8f8'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#f8f8f8)); /*  WebKit */
    background: -moz-linear-gradient(top,  #eeeeee, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 2px 2px 2px #dddddd;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 2px 2px 2px #dddddd;
    box-shadow: 0 1px 1px #ebebeb, inset 2px 2px 2px #dddddd;
}
