<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- 生成分类 -->
	<category>

		<category dictKey="springcloud" dictValue="springcloud-2.0-接口版">
			<template>springcloud/controller.xml</template>
			<template>common/dao.xml</template>
			<template>common/entity.xml</template>
			<template>common/mapper.xml</template>
			<template>common/service.xml</template>
			<template>common/iservice.xml</template>
			<template>common/helperservice.xml</template>
		</category>

		<category dictKey="springcloud_open" dictValue="springcloud-open-接口版">
			<template>springcloud_open/controller.xml</template>
			<template>common/dao.xml</template>
			<template>common/entity.xml</template>
			<template>common/mapper.xml</template>
			<template>common/service.xml</template>
			<template>common/iservice.xml</template>
			<template>common/helperservice.xml</template>
		</category>


		<category dictKey="job_admin" dictValue="job-admin_自给数据">
			<template>job_admin/controller.xml</template>
			<template>job_admin/service.xml</template>
			<template>common/helperservice.xml</template>
			<template>common/dao.xml</template>
			<template>common/mapper.xml</template>
			<template>common/entity.xml</template>
			<template>common/index.xml</template>
			<template>common/index_js.xml</template>
		</category>

		<category dictKey="job_admin_ms" dictValue="job-admin_微服务数据">
			<template>job_admin_ms/controller.xml</template>
			<template>job_admin_ms/iservice.xml</template>
			<template>common/service.xml</template>
			<template>common/helperservice.xml</template>
			<template>common/dao.xml</template>
			<template>common/mapper.xml</template>
			<template>common/entity.xml</template>
			<template>common/index.xml</template>
			<template>common/index_js.xml</template>
		</category>

		<category dictKey="zjgf-microservice" dictValue="zjgf_微服务数据">
			<template>zjgf-microservice/controller.xml</template>
			<template>common/service.xml</template>
			<template>common/iservice.xml</template>
			<template>common/helperservice.xml</template>
			<template>common/dao.xml</template>
			<template>common/mapper.xml</template>
			<template>common/entity.xml</template>
		</category>
		<category dictKey="weier" dictValue="weier">
			<template>weier/controller.xml</template>
			<template>weier/dao.xml</template>
			<template>weier/dto.xml</template>
			<template>weier/entity.xml</template>
			<template>weier/iservice.xml</template>
			<template>weier/mapper.xml</template>
			<template>weier/query.xml</template>
			<template>weier/restservice.xml</template>
			<template>weier/service.xml</template>
		</category>

		<category dictKey="curd" dictValue="普通单体应用-single">
			<template>single/curd/controller.xml</template>
			<template>single/curd/service.xml</template>
			<template>single/curd/iservice.xml</template>
			<template>category-ref:dao</template>
			<template>single/curd/editpage.xml</template>
			<template>single/curd/listpage.xml</template>
		</category>
		<category dictKey="Hibernate" dictValue="Hibernate-admin_xml版">
			<template>lcAdmin/controller.xml</template>
			<template>lcAdmin/service.xml</template>
			<template>lcAdmin/iservice.xml</template>
			<template>lcAdmin/entity.xml</template>
			<template>lcAdmin/editpage.xml</template>
			<template>lcAdmin/addpage.xml</template>
			<template>lcAdmin/listpage.xml</template>
			<template>lcAdmin/pagejs.xml</template>
		</category>

	</category>
	<!-- java类型 -->
	<javaType>
		<dict dictKey="java.lang.String" dictValue="String"/>
		<dict dictKey="java.lang.Long" dictValue="Long"/>
		<dict dictKey="java.lang.Integer" dictValue="Integer"/>
		<dict dictKey="java.lang.Double" dictValue="Double"/>
		<dict dictKey="java.util.Date" dictValue="Date"/>
		<dict dictKey="java.math.BigDecimal" dictValue="BigDecimal"/>
	</javaType>
	<!-- 查询类型 -->
	<queryType>
		<dict dictKey="=" dictValue="="/>
		<dict dictKey="!=" dictValue="!="/>
		<dict dictKey="between" dictValue="Between"/>
		<dict dictKey="like" dictValue="Like"/>
		<dict dictKey="left_like" dictValue="Left Like"/>
		<dict dictKey="right_like" dictValue="Right Like"/>
	</queryType>
	<!-- 字段显示类型 -->
	<showType>
		<dict dictKey="input" dictValue="单行文本"/>
		<dict dictKey="textarea" dictValue="多行文本"/>
		<dict dictKey="select" dictValue="下拉选项"/>
		<dict dictKey="radiobox" dictValue="单选按钮"/>
		<dict dictKey="checkbox" dictValue="复选框"/>
		<dict dictKey="dateselect" dictValue="日期选择"/>
	</showType>
</config>