<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- 生成分类 -->
	<category>
		<category dictKey="curd" dictValue="普通单体应用-xCode">
			<template>curd/controller.xml</template>
			<template>curd/service.xml</template>
			<template>curd/iservice.xml</template>
			<template>category-ref:dao</template>
			<template>curd/editpage.xml</template>
			<template>curd/listpage.xml</template>
		</category>

		<category dictKey="dubbo" dictValue="微服务-Dubbo">
			<template>dubbo/iservice.xml</template>
			<template>dubbo/dao.xml</template>
			<template>dubbo/entity.xml</template>
			<template>dubbo/mapper.xml</template>
			<template>dubbo/service.xml</template>
		</category>

		<category dictKey="springcloud" dictValue="springcloud-1.58版本">
			<template>springcloud/controller.xml</template>
			<template>springcloud/dao.xml</template>
			<template>springcloud/entity.xml</template>
			<template>springcloud/mapper.xml</template>
			<template>springcloud/service.xml</template>
			<template>springcloud/iservice.xml</template>
			<template>springcloud/helperservice.xml</template>
		</category>

		<category dictKey="springcloud_2" dictValue="springcloud-2.0版本">
			<template>springcloud_2/controller.xml</template>
			<template>springcloud_2/dao.xml</template>
			<template>springcloud_2/entity.xml</template>
			<template>springcloud_2/mapper.xml</template>
			<template>springcloud_2/service.xml</template>
			<template>springcloud_2/iservice.xml</template>
			<template>springcloud_2/helperservice.xml</template>
		</category>

		<category dictKey="Hibernate" dictValue="Hibernate-admin">
			<template>lcAdmin/controller.xml</template>
			<template>lcAdmin/service.xml</template>
			<template>lcAdmin/iservice.xml</template>
			<template>lcAdmin/entity.xml</template>
			<template>lcAdmin/editpage.xml</template>
			<template>lcAdmin/addpage.xml</template>
			<template>lcAdmin/listpage.xml</template>
			<template>lcAdmin/pagejs.xml</template>
		</category>

		<category dictKey="jobAdmin" dictValue="job-admin">
			<template>springcloudtask/controller.xml</template>
			<template>springcloudtask/service.xml</template>
			<template>springcloudtask/helper_service.xml</template>
			<template>springcloudtask/dao.xml</template>
			<template>springcloudtask/mapper.xml</template>
			<template>springcloudtask/entity.xml</template>
			<template>springcloudtask/index.xml</template>
			<template>springcloudtask/index_js.xml</template>
		</category>

	</category>
	<!-- java类型 -->
	<javaType>
		<dict dictKey="java.lang.String" dictValue="String"/>
		<dict dictKey="java.lang.Long" dictValue="Long"/>
		<dict dictKey="java.lang.Integer" dictValue="Integer"/>
		<dict dictKey="java.lang.Double" dictValue="Double"/>
		<dict dictKey="java.util.Date" dictValue="Date"/>
		<dict dictKey="java.math.BigDecimal" dictValue="BigDecimal"/>
	</javaType>
	<!-- 查询类型 -->
	<queryType>
		<dict dictKey="=" dictValue="="/>
		<dict dictKey="!=" dictValue="!="/>
		<dict dictKey="between" dictValue="Between"/>
		<dict dictKey="like" dictValue="Like"/>
		<dict dictKey="left_like" dictValue="Left Like"/>
		<dict dictKey="right_like" dictValue="Right Like"/>
	</queryType>
	<!-- 字段显示类型 -->
	<showType>
		<dict dictKey="input" dictValue="单行文本"/>
		<dict dictKey="textarea" dictValue="多行文本"/>
		<dict dictKey="select" dictValue="下拉选项"/>
		<dict dictKey="radiobox" dictValue="单选按钮"/>
		<dict dictKey="checkbox" dictValue="复选框"/>
		<dict dictKey="dateselect" dictValue="日期选择"/>
	</showType>
</config>